.status {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  position: absolute;
  top: 10px;
  right: 10px;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.gray {
  background-color: gray;
}
